<div class="user-header">
    <h1>User</h1>
    <%= button "New Animal", to: Routes.animal_path(@conn, :new), method: :get %> 
</div>

<div class="user-body">
    <table>
        <%= render_many(
            @animals,
            PetFinderWeb.PartialsView,
            "animal_card.html",
            as: :post,
            conn: @conn
        )%>
    </table>

    <span><%= link "Back", to: Routes.page_path(@conn, :index), method: :get%></span>
</div>
