
<tr>
  <td><%= String.capitalize @animal.species %> </td>
  <td>
    <%=
      Enum.map(@animal.color, &(String.capitalize(&1)))
      |> Enum.join(", ") 
    %>
  </td>
  <td><%= link "Details", to: Routes.animal_path(@conn, :show, @animal.id), class: "animal-detail__link" %></td>
</tr>