<div class="animal-card__container">
  <%= if @animal.image do %>
    <img class="animal-card__image" src="<%=PetFinder.ImageUploader.url({@animal.image, @animal})%>" />
  <%= else %>
    <span> no image </span>
  <% end %>
</div>