<div class="card">
    <%= link(
        @post.description, 
        to: Routes.animal_path(
            @conn, 
            :show, 
            @post.animal_id
        ),
        class: "card-text" 
    )%>
</div>