<div class="card">
    <div class="image">
    <img src="<%= PetFinder.ImageUploader.url({@post.image, @post})%>" class="animal-image">
    </div>
    <div class="description">
    </div>
    <%= link(
        @post.description, 
        to: Routes.animal_path(
            @conn, 
            :show, 
            @post.animal_id
        ),
        class: "card-text" 
    )%>
</div>