<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PetFinder</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav role="navigation">
        <div class="logo">
          <h1><%= link "PetFinder", to: Routes.page_path(@conn, :index) %></h1>
        </div>
        <div class="menu">
          <%= if signed_in?(@conn) do %>
            <%= button "My animals", to: Routes.user_path(@conn, :show, @conn.assigns.user_id), method: :get, class: "primary" %>
            <%= button "Sign out", to: Routes.session_path(@conn, :delete), method: :delete, class: "primary" %>
          <% else %>
            <%= unless is_route_sign_in_or_up(@conn) do %>
              <%= button "Sign in", to: Routes.session_path(@conn, :new), method: :get, class: "primary" %> 
              <%= button "Sign up", to: Routes.user_path(@conn, :new), method: :get, class: "primary" %>
            <% end %>
          <% end %>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <%# <footer>this is the footer</footer> %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  </body>
</html>
