h1.animal-details-title {
    margin: 0;
    font-weight: 500;
}

ul.details-list {
    margin: 0;
    li {
        display: inline;
        padding: 12px;
        font-weight: 500;
    }
}

div.animal-details-actions {
    padding-left: 12px;
}

img.animal-image {
    width: 240px;
    height: 240px;
}