div.error-page {
    font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 500;
    img.hero-image {
        max-width: 100vw;
        margin-left: -8px;
        margin-top: -8px;
    }
    div.text-container {
        margin: 24px;
        h1.status-code {
            font-size: 80;
            line-height: 1;
        }
        
        h1.message {
            font-size: 50;
            color: #aaa;
        }
        
        p.text {
            margin: 0;
        }
        
    }
    div.post-container {
        margin: 24px;
        p.text {
            font-size: 24px;
        }
        div.card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
