$primary-color: #0bf46b;
$mono-primary-color: #3CF689;
$secondary-color: #6B0BF4;
$accent-color: #F46B0B;
$font-color: #4d4751;
$page-color: #f1f1f1;

$primary-background: lighten($primary-color, 30%);
$secondary-background: lighten($secondary-color, 30%);
$accent-background: lighten($accent-color, 30%);

// container widths
$full-width: 900px;
$half-width: 540px;
