<h1>Edit Animal</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_animal_path(@conn, :update, @conn.assigns.user_id, @animal.id)) %>

<span><%= link "Back", to: Routes.animal_path(@conn, :show, @conn.assigns.user_id, @animal.id) %></span>
