<h1>View All Animals</h1>

<div class="animal-list__body">
    <table>
        <%= render_many(
            @animals,
            PetFinderWeb.PartialsView,
            "animal_card.html",
            as: :post,
            conn: @conn
        )%>
    </table>

    <span><%= link "Back", to: Routes.page_path(@conn, :index)%></span>
</div>