<h1>Show Post</h1>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @post.description %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @post.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
