<link rel="stylesheet" href="/css/app.css">
<img src="<%= Routes.static_path(@conn, "/images/Lost-Pet-Header-Image.jpg")%>" class="hero-image">
<h1><%= @message %></h1>
<h1><%= @status %></h1>
<script src="/js/app.js"></script>