<link rel="stylesheet" href="/css/app.css">
<script src="/js/app.js"></script>
<h1><% @message %></h1>
<h1><% @status %></h1>
<img src="<%= Routes.static_path(@conn, "/images/Lost-Pet-Header-Image.jpg")%>" class="hero-image">
